@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Inter Tight", sans-serif;
}

.post {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 500px;
    padding: 10px;
  }
  .post img {
    width: 100%;
    border-radius: 10px;
  }
  